/* Base styles for the layer tree container */
.leaflet-control-layers {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    height: auto;
}

.leaflet-control-layers-list.leaflet-control-layers-scrollbar {
    height: auto !important;
}

/* Leaflet Layers Control Expanded */
.leaflet-control-layers-expanded {
    width: 100% !important;
    padding: 0;
    background-color: transparent;
    border: none !important;
}

/* Layer Control Container */
#layercontrol {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-radius: 4px;
}

#layercontrol .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style for expand/collapse buttons */
/* .leaflet-layerstree-expand-collapse {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
} */

.leaflet-layerstree-header {
  padding-left: 10px;
}

/* Style for category headers */
.leaflet-layerstree-header-pointer {
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

/* Style for layer names */
.leaflet-layerstree-header-name {
    margin-left: 5px;
}

/* Style for layer labels */
.leaflet-layerstree-header-label {
    align-items: center;
    padding: 5px;
}

/* Hover state for layer labels */
.leaflet-layerstree-header-pointer:hover,
.leaflet-layerstree-header:hover {
    background-color: #e0e0e0;
    border-radius: 3px;
}

/* Style for the layer selector checkbox */
.leaflet-control-layers-selector {
    margin-right: 5px;
}

/* Style for the separator between base layers and overlays */
.leaflet-control-layers-separator {
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

/* Style for the space between expand/collapse indicators and layer names */
.leaflet-layerstree-header-space {
    margin-right: 5px;
}